<h1>Welcome weary traveler...</h1>
<h1>Should you wish to pass, you must answer my riddles correctly, eh</h1>
<h1>(btws, if you get them wrong you're dead mate)</h1>

<form action="/output" method="post">
  <div class="form-group">
    <label for="q1">Answer this: <%= @the_riddle %></label>
    <input id="1" name="q1" class="form-control" type="text">
  </div>
  <!-- <div class="form-group">
    <label for="q2">And this: What has 4 eyes but can’t see?</label>
    <input id="2" name="q2" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="q3">And lastly this: What travels around the world but stays in one spot?</label>
    <input id="3" name="q3" class="form-control" type="text">
  </div> -->
  <button type="submit" class="btn">Hit dis button yo</button>
</form>
